version: 2.1

orbs: 
  aws-cli: circleci/aws-cli@2.0.6
  github-cli: circleci/github-cli@1.0.5

env_var: &env_var
  CFN_STACK_PROD: ProductionStack
  CHANGE_SET_PROD: change-set-production

workflows:
  pull-request-workflow:
    jobs:
      - create-change-set-production
      - describe-change-set-production:
          requires:
            - create-change-set-production
      - describe-change-set-production:
          requires:
            - create-change-set-production

jobs:
  create-change-set-production:
    executor: aws-cli/default
    environment: *env_var
    steps:
      - checkout
      - aws-cli/setup
      - run:
          name: Create Change Set
          command: |
            aws cloudformation create-change-set \
              --stack-name ${CFN_STACK_PROD} \
              --change-set-name ${CHANGE_SET_PROD}-${CIRCLE_BRANCH} \
              --template-body file://production.yml
  describe-change-set-production:
    executor: aws-cli/default
    environment: *env_var
    steps:
      - checkout
      - aws-cli/setup
      - run:
          name: Create Change Set
          command: |
            aws cloudformation describe-change-set \
            --stack-name ${CFN_STACK_PROD} \
            --change-set-name ${CHANGE_SET_PROD}-${CIRCLE_BRANCH} >> $ChangeSetProd
      - github-cli
      - run:
          name: Create Comment to Pull Request
          command: |
            gh pr comment ${CIRCLE_PR_NUMBER} -b "```json${ChangeSetProd}```"
  delete-change-set-production:
    executor: aws-cli/default
    environment: *env_var
    steps:
      - checkout
      - aws-cli/setup
      - run:
          name: Create Change Set
          command: |
            aws cloudformation delete-change-set \
            --stack-name ${CFN_STACK_PROD} \
            --change-set-name ${CHANGE_SET_PROD}-${CIRCLE_BRANCH}
