version: 2.1

orbs: 
  aws-cli: circleci/aws-cli@2.0.6

workflows:
  build-workflow:
    jobs:
      - aws-cli-example

jobs:
  aws-cli-example:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup
      - run:
          command: |
            aws --version
