version: 2.1

orbs: 
  aws-cli: circleci/aws-cli@2.0.6

env_var:
  CFN_STACK_PROD: ProductionStack
  CHANGE_SET_PROD: change-set-production

workflows:
  pull-request-workflow:
    jobs:
      - create-change-set

jobs:
  create-change-set:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup
      - run:
          name: Create Change Set
          command: |
            printenv
          # command: |
          #   aws cloudformation create-change-set \
          #     --stack-name ${CFN_STACK_PROD} \
          #     --change-set-name ${CHANGE_SET_PROD}-${CIRCLE_PR_NUMBER} \
          #     --template-body file://production.yml
  # aws-cli-setup:
  #   executor: aws-cli/default
  #   steps:
  #     - aws-cli/setup
  #     - run:
  #         command: |
  #           aws --version
