name: pull request workflow
on: pull_request
env:
  AWS_ROLE_ARN: arn:aws:iam::608092561803:role/yukure-admin-for-github-actions
  AWS_REGION: ap-northeast-1
  CHANGE_SET_PROD: change-set-production
  CFN_STACK_PROD: ProductionStack
  CHANGE_SET_STG: change-set-staging
  CFN_STACK_STG: StagingStack
permissions:
  id-token: write
  contents: read
  issues: write
  pull-requests: write
jobs:
  create-chage-set-production:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          role-session-name: deploy-role-session
          aws-region: ${{ env.AWS_REGION }}
      - name: Create Change Set
        run: |
          aws cloudformation create-change-set \
            --stack-name ${{ env.CFN_STACK_PROD }} \
            --change-set-name ${{ env.CHANGE_SET_PROD }}-${{ env.GITHUB_REF_NAME }} \
            --template-body file://production.yml
  comment-change-set-production:
    runs-on: ubuntu-latest
    needs: create-chage-set-production
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          role-session-name: deploy-role-session
          aws-region: ${{ env.AWS_REGION }}
      - name: Describe change set
        run: |
          aws cloudformation describe-change-set \
            --stack-name ${{ env.CFN_STACK_PROD }} \
            --change-set-name ${{ env.CHANGE_SET_PROD }} >> production.json
      - name: comment
        uses: actions/github-script@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const json = require('./production.json')
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "```json\n" + JSON.stringify(json, null , "  ") + "\n```"
            })
  delete-change-set-production:
    runs-on: ubuntu-latest
    needs: comment-change-set-production
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          role-session-name: deploy-role-session
          aws-region: ${{ env.AWS_REGION }}
      - name: Delete Change Set
        run: |
          aws cloudformation delete-change-set \
            --stack-name ${{ env.CFN_STACK_PROD }} \
            --change-set-name ${{ env.CHANGE_SET_PROD }}

  create-chage-set-staging:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          role-session-name: deploy-role-session
          aws-region: ${{ env.AWS_REGION }}
      - name: Create Change Set
        run: |
          aws cloudformation create-change-set \
            --stack-name ${{ env.CFN_STACK_STG }} \
            --change-set-name ${{ env.CHANGE_SET_STG }}-${{ env.GITHUB_REF_NAME }} \
            --template-body file://staging.yml
  comment-change-set-staging:
    runs-on: ubuntu-latest
    needs: create-chage-set-staging
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          role-session-name: deploy-role-session
          aws-region: ${{ env.AWS_REGION }}
      - name: Describe Change Set
        run: |
          aws cloudformation describe-change-set \
            --stack-name ${{ env.CFN_STACK_STG }} \
            --change-set-name ${{ env.CHANGE_SET_STG }} >> staging.json
      - name: comment
        uses: actions/github-script@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const json = require('./staging.json')
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "```json\n" + JSON.stringify(json, null , "  ") + "\n```"
            })
  delete-change-set-staging:
    runs-on: ubuntu-latest
    needs: comment-change-set-staging
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          role-session-name: deploy-role-session
          aws-region: ${{ env.AWS_REGION }}
      - name: Delete Change Set
        run: |
          aws cloudformation delete-change-set \
            --stack-name ${{ env.CFN_STACK_STG }} \
            --change-set-name ${{ env.CHANGE_SET_STG }}
