name: pull request workflow
on: pull_request
env:
  AWS_ROLE_ARN: arn:aws:iam::608092561803:role/yukure-admin-for-github-actions
  AWS_REGION: ap-northeast-1
permissions:
  id-token: write
  contents: read
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          role-session-name: deploy-role-session
          aws-region: ${{ env.AWS_REGION }}
      - name: Get Caller Identity
        run: aws sts get-caller-identity
      - name: Dry Run Production
        run: |
          aws cloudformation create-change-set \
            --stack-name ProductionStack \
            --change-set-name production-stack-dry-run \
            --template-body file://production.yml
          aws cloudformation describe-change-set \
            --stack-name ProductionStack \
            --change-set-name production-stack-dry-run
      - name: Dry Run Staging
        run: |
          aws cloudformation create-change-set \
            --stack-name StagingStack \
            --change-set-name staging-stack-dry-run \
            --template-body file://staging.yml
          aws cloudformation describe-change-set \
            --stack-name StagingStack \
            --change-set-name staging-stack-dry-run
